@model AMI.MVC.WebApp.Models.SLO.SLOModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SLOModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ClassID)

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, 5, 100, null)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model.ID != 0)
{
    <table>
        <tbody></tbody>
        <tr>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        @foreach (AMI.Model.Outcome oc in Model.SupportedOutcomes)
        {
            <tr>
                <td>@oc.Text</td>
                <td>@Html.ActionLink("remove", MVC5.SLO.RemoveOutcomeFromSLO(Model.ID, oc.Id))
                </td>
            </tr>
        }
        <tr>
            <td style="text-align: center;">&#60;<b>Add New</b>&#62;</td>
            <td>@Html.ActionLink("Add_New", MVC5.SLO.AddOutcomeToSLO(Model.ID))</td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
