@model AMI.MVC.WebApp.Models.Public.ClassDetailModel

<div>
    <div>
        <div style="text-align:center;font-size:larger;">
            @Model.Class.Prefix @Model.Class.Number @Model.Class.Name
        </div>
    </div>
    <hr />
    <div>
        <h4 style="margin-bottom:5px;">Student Learning Objectives</h4>
        <div>
            @for(int i = 0; i < Model.Class.LearningObjectives.Count; i++)
            {
                AMI.Model.StudentLearningObjective objective = Model.Class.LearningObjectives.ElementAt(i);
                <div>
                    <span style="font-weight:bold;">@(i+1). </span><span>@objective.Text</span>
                </div>
            }
        </div>
    </div>
    <div>
        <h4 style="margin-bottom:5px;">Supported Outcomes</h4>
        @foreach (AMI.Model.Criteria criteria in Model.Criterias)
        {
        <div style="text-align:center;">
            <h5 style="margin-bottom:5px;">@criteria.Name Outcomes Supported</h5>
            <hr />
        </div>
        <div>
            @foreach (AMI.Model.Outcome outcome in criteria.Outcomes)
	        {
                var sloIds = Model.Class.LearningObjectives.Select(m => m.Id);
                var slos = outcome.SupportedLearningObjectives.Where(m => sloIds.Contains(m.Id));
                if (slos.Count() > 0)
                {
                <div>
                    <div><span style="font-weight:bold;">Outcome: @outcome.Text</div>
                    <div>Supported by Learning Objective@(slos.Count() > 1 ? "s" : ""):</div>
                    <ul>
                        @foreach (var slo in slos)
                        {
                            <li>@(slo.Order). @slo.Text</li>
                        }
                    </ul>
                </div>
                }
	        }
        </div>
        }
    </div>
    <div>
        <h4 style="margin-bottom:5px;">Committee Members</h4>
        <div>
            @for (int i = 0; i < Model.Class.CommitteeMembers.Count; i++)
            {
                AMI.Model.CommitteeMember member = Model.Class.CommitteeMembers.ElementAt(i);
                <div>
                    <span>@(member.User.FullName())</span><span> (@member.CommitteeRank.ToString())</span>
                </div>
            }
        </div>
    </div>
</div>

