@model AMI.Model.ApplicationUser

<div>
    <div>
        @Html.LabelFor(m => m.FirstName)
    </div>
    <div>
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div>
        @Html.LabelFor(m => m.LastName)
    </div>
    <div>
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Email)
    </div>
</div>