@model IEnumerable<AMI.Model.ApplicationUser>
@{
    ViewBag.Title = "User List";
}

<div style="text-align:right;float:right;">
    @Html.ActionLink("Add new user", "Test", null, new { @class = "modal" })
</div>
<h2>User List</h2>
<table style="width:100%;">
    <thead>
        <tr style="background-color:lightgray;">
            <td>
                User Name
            </td>
            <td>
                First Name
            </td>
            <td>
                Last Name
            </td>
            <td>
                Email
            </td>
            <td>
                Actions
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (AMI.Model.ApplicationUser user in Model)
        {
        <tr>
            <td>
                @user.UserName
            </td>
            <td>
                @user.FirstName
            </td>
            <td>
                @user.LastName
            </td>
            <td>
                @user.Email
            </td>
            <td>
                @Html.ActionLink("Delete", "Test", "Test")
            </td>
        </tr>
        }
    </tbody>
</table>

<div id="newUserDialog" style="display:none;">
    @Html.Action(MVC5.Admin.User.NewUser())
</div>
<script type="text/javascript">
    $(function () {
        $('#newUserDialog').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            title: "Create User",
            buttons: {
                "Save": function () {
                    $("#outcomeForm").submit();
                    $(this).dialog('close');
                },
                "Cancel": function () {
                    $(this).dialog('close');
                }
            }
        });
        $('.modal').click(function() {
            $('#newUserDialog').dialog('open');
            return false;
        });
    });
</script>