<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Styles/css")
        @Styles.Render(Links.Content.themes.@base.jquery_ui_css)
        @Scripts.Render(Links.Scripts.jquery_2_1_0_min_js)
        @Scripts.Render(Links.Scripts.jquery_ui_1_10_4_min_js)
        @Scripts.Render(Links.Scripts.jquery_validate_min_js)
        @Scripts.Render(Links.Scripts.jquery_validate_unobtrusive_min_js)
        @Scripts.Render(Links.Scripts.jquery_unobtrusive_ajax_min_js)
        @RenderSection("Scripts", required:false)
    </head>
    <body>
        <div id="layoutHeader">
            <div class="twoColumn">
                <div class="largerText">
                    THE UNIVERSITY OF TOLEDO
                </div>
                <div style="font-size:1.5em;">
                    ABET Maintenance Interface
                </div>
            </div>
            <div class="twoColumn rightAligned" style="vertical-align:top;">
                @Html.Partial("_LoginControl")
            </div>
        </div>
        <div id="mainContent">
            @RenderBody()
        </div>
    </body>
</html>
